section {
    display: inline-block;
    height: 368px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}

@media all and (max-width: 800px) {
    section {
        display: block;
        width: auto;
        margin: 20px;
    }

    img {
        width: 100%;
    }
}