body {
    background: linear-gradient(#e94d2b, #f8e8e8)
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 10px
}

header {
    width: auto;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient( #0476b9 , #1ca5dc);
    display: flex;
    align-items: center;
    gap: 20px
}

header h1 {
    color: white;
}

header img {
    margin-left: 5px;
}

.linea {
    height: 7px;
    width: auto;
    background-color: black;
}

nav {
    background: linear-gradient(#ddc038, #f6da30);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.marcador {
    margin-top: 15px;
    color: white;
}

.contenedorTablas {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    margin-top: 15px;
    text-align: center;
    background-color: white;
    margin: 30px;
    padding: 25px;
}

footer {
    text-align: center;
    justify-content: center;
    background-color: #313b44;
    padding: 5px;
    color: white;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient( #0476b9 , #1ca5dc);
}

article {
    border: 60px solid;
    border-image: url(../imgs/movil.png) 80 50 70 50;
}