body {
    font-family: 'Arial', sans-serif;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid #333;
    margin: 25px;
    padding: 10px;
}

table td:first-child {
    background-color: #E6F3FF;
}

table tr:nth-child(2n) {
    background-color: #FFFFCC;
}

table tr:hover {
    background-color: #FFFF66;
}

th{
    background-image: url(../img/fondo_gris.gif);
    background-size: cover;
}